# UXR Summary & Scoring Results [AI Generated] - {{ file_name }}
The following is a summary and scoring of the audio from a user testing video on {{ date }}.

## Summary
The following summary is based on the provided user test methodology:
{{ summary_contents }}

## Scoring
The following scores are based on the provided user test rubric:

{{ scoring_contents }}
